.selected-view-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100%;
    }
    .search-container {
        grid-area: 1 / 1 / 2 / 6;
        background: #4776e6;
        background: -webkit-linear-gradient(180deg,#8e54e9,#4776e6);
        background: -webkit-gradient(linear,left top,left bottom,from(#8e54e9),to(#4776e6));
        background: -webkit-linear-gradient(top,#8e54e9,#4776e6);
       background: linear-gradient(180deg,#8e54e9,#4776e6);
       position: sticky;
       min-height: 150px;
       height: 100%;
       width: 100%;
    }
    .homepage-container { 
        grid-area: 2 / 1 / 3 / 6;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 100%;
        padding: 2% 0;
        background: #000;
    }